
.img-container {
  width: 100vw;
  height: calc(40vh - 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  border: 2px solid #fff;
  border-radius: 3px;
  max-width: 90vw;
  max-height: 85%;
}

main {
  background-color: #fff;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

main .filters-container {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .filters-container button {
  text-decoration: none;
  background-color: transparent;
  border: 0;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

main .filters-container button:hover .dropdown-container {
  display: flex;
}

main .filters-container .dropdown-container {
  position: absolute;
  margin-top: 20px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 100%;
  max-height: 130px;
  overflow-y: scroll;
  background-color: #fff;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
}

main .filters-container .dropdown-container button {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 5px 3rem;
    transition: background-color ease-in-out 0.2s;
}

main .filters-container .dropdown-container button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
main .filters-container .dropdown-container::-webkit-scrollbar {
    display: none;
}

main .filters-container span {
  color: rgba(0, 0, 0, 0.5);
  padding: 0 1rem;
}

#price-slider {
    width: 200px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  height: inherit;
  padding: 3rem 0;
  padding-bottom: 4rem;
}

@media (max-width: 900px){
    .cards-container {
        max-width: 95%;
    }
}