.cards-container .card {
    margin: 1rem 1rem;
    width: 25rem;
    height: 40rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container .card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 40%;
}

.cards-container .bottom-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem 1.5rem;
}

.cards-container .card h1 {
    font-size: 2rem;
    font-weight: 500;
}

.cards-container .card span {
    font-size: 1.5rem;
}

.cards-container .card .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.cards-container .card .buttons-container a,button {
    background-color: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;

    padding: 0 0.962rem;
    height: 100%;
    color: #6c757d;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 0.2s;
}

.cards-container .card .buttons-container button:hover {
    background-color: #6c757d;
    color: #FFF;
}

.cards-container .card .buttons-container a:hover {
    background-color: #6c757d;
    color: #FFF;
}