* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  overflow-x: hidden;
}

:root {
  font-size: 62.5%;
}

html, body {
  background-image: url("./assets/background.webp");
  background-size: cover;
}

body,
input,
button,
textarea {
  font: 400 1.6rem 'Roboto';
  outline: 0;
}
